<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%white(%d{ISO8601}) %highlight(%-5level) %c [%yellow(%t)] : %msg%n%throwable</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
<!--    <logger name="com.zaxxer" level="TRACE">
        <appender-ref ref="stdout"/>
    </logger>-->
<!--    <logger name="org.hibernate" level="TRACE">
        <appender-ref ref="stdout"/>
    </logger>-->
</configuration>